<nz-root [nzExtraFontUrl]="'./assets/fonts/iconfont'">
    <nz-layout>
        <nz-header>
            <div class="title">
                <i class="anticon anticon-smile-o"></i>网络调试工具<i class="anticon anticon-smile-o"></i>
            </div>
        </nz-header>
        <router-outlet></router-outlet>
        <nz-tabset [nzSelectedIndex]="nowTabIndex" [nzTabPosition]="_position" [nzType]="'line'" class="bottom-bar">
            <nz-tab (nzSelect)="changeToConnect()">
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-login"></i>连接
                </ng-template>
            </nz-tab>
            <nz-tab (nzSelect)="changeToMessage()">
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-message"></i>消息
                </ng-template>
            </nz-tab>
            <nz-tab (nzSelect)="changeToConfig()">
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-setting"></i>配置
                </ng-template>
            </nz-tab>
        </nz-tabset>
    </nz-layout>
</nz-root>